:root {
  --clr-text: hsl(200, 15%, 8%);
  --clr-element: hsl(0, 0%, 100%);
  --clr-bg: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  color: var(--clr-text);
  transition: 0.25s all ease;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  font-size: 14px;
  background-color: var(--clr-bg);
  overflow-x: hidden;
}

body{
  &.is-dark {
    --clr-text: hsl(0, 0%, 100%);
    --clr-element: hsl(209, 23%, 22%);
    --clr-bg: hsl(207, 26%, 17%);
  }
  
  &.show-details {
    height: 100vh;

    main {
      transform: translateX(-50%);
    }

    #pageAll {
      height: 50vh;
      overflow: hidden;
    }
  }
}

ion-icon {
  vertical-align: middle;
}

.is-card {
  background-color: var(--clr-element);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(black, 0.1);
}

.is-hidden {
  display: none !important;
}

button {
  span {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
}

.has-country-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  
  .country-flag {
    width: 100%;
  }

  .country-name {
    margin-bottom: 1.5rem;
  }

  .country-info-line {
    margin-bottom: 0.5rem;

    span:first-of-type {
      font-weight: 600;
    }

    span:last-of-type {
      opacity: 0.7;
    }
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 1.5rem;
  box-shadow: 0 2px 5px rgba(black, 0.15);
  background-color: var(--clr-element);
}

#darkModeToggler {
  border: none;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
}

main {
  display: flex;
  align-items: start;
  width: 200vw;

  #pageAll {
    transform-origin: top left;
  }
}

.page {
  width: 100vw;
  padding: 2rem 1.5rem;
}

.filters {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3rem;

  &--control {
    @extend .is-card;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    width: Min(500px, 100%);
    padding: 1rem 1.5rem;

    ion-icon {
      font-size: 1.5rem;
      margin: 0 1.5rem 0 0.5rem;
    }

    input {
      flex: 1;
      border: none;
      outline: none;
      background-color: transparent;
    }
  }

  &__region {
    position: relative;
    width: 200px;

    &-main {
      width: 100%;
      height: 100%;
      padding: 1rem 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      user-select: none;
      cursor: pointer;

      input {
        border: none;
        width: calc(100% - 14px);
        pointer-events: none;
        outline: none;
        background-color: transparent;
      }
    }

    &-dropdown {
      @extend .is-card;

      position: absolute;
      left: 0;
      right: 0;
      bottom: -0.5rem;
      padding: 1rem 0;
      z-index: 10;
      transform-origin: top center;
      transform: translate(0, 100%) scaleY(0);
      pointer-events: none;

      &.is-open {
        transform: translate(0, 100%) scaleY(1);
        pointer-events: auto;
      }

      ul {
        list-style: none;

        li {
          padding: 0.25rem 1.5rem;
          cursor: pointer;
          user-select: none;

          &:hover {
            background-color: var(--clr-text);
            color: var(--clr-element);
          }
        }
      }
    }
  }
}

.country-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, Minmax(Min(260px, 100%), 1fr));
  gap: 3rem;
  padding: 0 1rem;

  .country {
    @extend .is-card;
    transform-style: preserve-3d;
    cursor: pointer;

    &:hover {
      .country-flag {
        transform: translateZ(40px);
        border-radius: 8px;
        box-shadow: 0 10px 10px rgba(black, 0.15);
      }

      .country-name {
        transform: translateZ(20px);
        text-shadow: 0 5px 10px rgba(black, 0.15);
      }
    }

    .country-flag {
      border-radius: 5px 5px 0 0;
    }

    &__main {
      padding: 0 2rem 1.5rem;
      margin-top: auto;
      transform-style: preserve-3d;
    }
  }
}

#pageDetails {
  padding: 3rem 2rem;
}

#btnBack {
  @extend .is-card;
  
  border: none;
  padding: 0.5rem 2rem;
  margin-bottom: 4rem;
}

.country-details {
  width: 100%;
  gap: 3rem;

  &__infos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;

    span {
      width: 100%;
      font-size: 1.15rem;
      font-weight: 600;
    }
  }

  &__border {
    @extend .is-card;

    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 800px) {
  nav {
    padding: 1.75rem 6rem;

    h3 {
      font-size: 1.75rem;
    }
  }

  .page {
    padding: 3rem 6rem;
  }
  
  .filters {
    margin-bottom: 3.5rem;
  }

  .country-grid {
    gap: 4.5rem;
    padding: 0;
  }

  #pageDetails {
    padding: 5rem 6rem;
  }

  .country-details {
    flex-direction: row;
    align-items: center;
    gap: 10rem;

    .country-flag {
      width: 40%;
    }

    .country-name {
      font-size: 2rem;
    }

    &__infos {
      flex-direction: row;
      gap: 8rem;
    }

    &__footer span {
      width: auto;
      font-size: 1rem;
    }
  }
}
